/* YourComponent.css */

/* Adjust margin and padding as needed */
.container {
  margin-top: 20px;
  padding: 0 15px;
}

.main {
  text-align: center;
}

.newarriwal-heading {
  margin-top: 30px;
  font-size: 34px;
  font-weight: bold;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-style: oblique;
  text-shadow: #0a0a0a;
}

.scrolling-wrapper {
  display: flex;
  overflow-x: auto;
  padding: 30px;
  scroll-behavior: smooth;
  padding: 20px 0; /* Adjust padding as needed */
}
.scroll-btn {
  position: absolute;
 
  transform: translateY(-50%);
  width: 40px;
  height: 40px;
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 50%;
  cursor: pointer;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  border: none;
}

.scroll-btn.left {
  left: 10px; /* Adjust left button position */
}

.scroll-btn.right {
  right: 10px; /* Adjust right button position */
}

/* Hide scrollbar */
.scrolling-wrapper::-webkit-scrollbar {
  display: none;
}
/* Define the animation */
/* Define an animation */




.view-all{
text-align: right;
color: cornflowerblue;
cursor: pointer;
}
.view-all:hover {
  text-decoration: underline;
}

.book-card {
  position: relative;
  flex: 0 0 auto;
  width: 230px;
 
  /* Adjust card width for smaller size */
  margin-right: 10px; /* Margin between cards */
  border: 1px solid #ccc; /* Add border for a neat look */
  border-radius: 5px; /* Rounded corners */
  box-shadow: 5px 10px 5px rgba(221, 217, 217, 0.1); /* Add shadow for depth */
  transition: transform 0.3s ease-in-out; /* Smooth hover transition */
}
.cards-header {

  justify-content: space-between; /* Align to the right end */
  align-items: flex-start; /* Align to the top */
  position: absolute;
  top: 0;
  right: 0;
}

.cart-icon,
.wishlist-icon {
  /* Add styles for your icons */
  /* For example: */
  margin-top: 13px;
  font-size: 24px;
  /* Add any other necessary styles */
}

.book-card:hover {
  transform: scale(1.05); /* Slight scale-up on hover */
}

.zoom-image-container {
  max-width: 50%;
  max-height: 20vh;
  overflow: hidden;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.zoom-img {
  width: 100%;
  /* Set image height to 150px */
}

.body_card {
  padding: 10px;
  text-align: left;
}

.book-name {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 5px;
}
.body_card p{
  text-align: left;
}

.course,
.university,
.semester,
.price,
.real-price,
.discount {
  margin-bottom: 3px;
  font-size: 14px;
}

.mybutton {
  margin-top: 8px;
  padding: 6px 12px;
  border: none;
  border-radius: 4px;
  background-color: #007bff; /* Button background color */
  color: #fff;

  cursor: pointer;
  transition: background-color 0.3s ease;
}

.mybutton:hover {
  background-color: #0056b3; /* Button background color on hover */
}
.price {
  font-size: 16px;
  color: #0a0a0a;
  font-weight: bold;
}

.real {
  font-size: 14px;
  color: #777;
  margin-left: 4px;
}

.discount {
  font-size: 14px;
  color: #43a047;
  font-weight: bold;
  margin-left: 4px;
}
.discounted-price{
  font-size: large;
  color: black;
}

/* Media query for responsiveness */
@media screen and (max-width: 768px) {
  .book-card {
    width: 150px; /* Adjust card width for smaller screens */
  }

  .book-name {
    font-size: 14px; /* Adjust font size for smaller screens */
  }

  .course,
  .university,
  .semester,
  .price,
  .real-price,
  .discount {
    font-size: 12px; /* Adjust font size for smaller screens */
  }
}
