/* Add custom CSS for scrolling effect and card design */

.scrolling-wrapper {
    overflow-x: auto;
    white-space: nowrap;
    padding: 10px 0;
    margin-top: 50px;
  }
  
  .book-card {
    width: 250px;
    margin-right: 10px;
    display: inline-block;
    transition: all 0.3s ease-in-out;
    border: 1px solid #ccc;
    border-radius: 5px;
    overflow: hidden;
    
  }
  
  .book-card:hover {
    transform: scale(1.05);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }

  .newarriwal-heading {
    font-size: 50px;
    font-weight: bold;
  }
  