/* Form container */
.add-product-form {
  max-width: 600px;
  margin: 50px auto;
  padding: 20px;
  background-color: #f5f5f5;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.selected-images{
  display: flex;
}

/* Title */
.add-product-form h2 {
  font-size: 24px;
  text-align: center;
  margin-bottom: 20px;
}



/* Flex container for input fields */
.add-product-form .flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 15px;
}

/* Label styles */
.add-product-form label {
  flex-basis: 48%; /* Two items in a row */
  margin-bottom: 5px;
  font-size: 14px;
  color: #333;
}

/* Input styles */
.add-product-form input[type="text"],
.add-product-form select {
  flex-basis: 48%; /* Two items in a row */
  padding: 8px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 10px;
}

/* Error message styles */
.add-product-form .registration-error {
  font-size: 12px;
  color: red;
  margin-top: 5px;
}

/* File input style */
.add-product-form input[type="file"] {
  margin-bottom: 10px;
}

/* Button styles */
.add-product-form button {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  background-color: #3498db;
  color: white;
  border: none;
  border-radius: 5px;
  margin-right: 10px;
}

.add-product-form button:last-child {
  margin-right: 0;
}

/* Selected images style */
.add-product-form .selected-images {
  margin-top: 10px;
}

/* Responsive CSS */
@media screen and (max-width: 768px) {
  .add-product-form label,
  .add-product-form input[type="text"],
  .add-product-form select {
    flex-basis: 100%; /* Full width for smaller screens */
  }
  .upadateProduct{
    margin-top: 150%;
  }
}
@media  (max-width: 320px){
  .upadateProduct{
    margin-top: 370%;
  }

}

