.product-table-container {
  
    display: flex;
    flex-direction: column;
    align-items: center;
  
  }
  
  .product-table {
    width: 100%;
    /* Adjust max-width according to your layout */
    margin-top: 20px;
    border-collapse: collapse;
  }
  
  .product-table th,
  .product-table td {
    border-color: black;
    padding: 4px;
    font-size: larger; /* Increase the padding to add space between columns */
  }
  
  .add-product-btn {
    margin-top: 10px;
    /* padding-left: ; Decrease padding to reduce button width */
  }
  .deleteSucces{
    color: green;
  }
  .wrongMessage{
    color: red;
  }
  