/* body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
 
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
} */

/* Login container */
.login-container {
  background-color: #fff;
  width: 600px;
  /* height: 3; */
  padding: 3px;
  /* margin-left: 20%; */
/* margin-bottom: 500%; */
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Form styles */
.register-form {
 
  display: flex;
  flex-direction: column;
 
  

 
}
.update-user-form{
  margin-top: 30%;

}




h1 {
  text-align: center;
  /* margin-bottom: 30px; */
}

.input-group {
  margin-bottom: 20px;
}
.input-groups {
  margin-bottom: 10px;
}

input[type='text'],
input[type='password'] {
  
  padding: 2px;
  border: 1px solid #ccc;
  border-radius: 5px;
  outline: none;
}
.time-exceeded {
  color: red;
}


button {
  padding: 12px;
  border: none;
  border-radius: 5px;
  background-color: #007bff;
  color: white;
  cursor: pointer;
  margin-left: 60px;
  
  font-size: 16px;
  transition: background-color 0.3s ease;
}
.back{
  /* margin-left: 60%; */
}

button:hover {
  background-color: #0056b3;
}
.registration-success {
  background-color: #4caf50; /* Green background color */
  color: white; /* White text color */
  padding: 10px 15px; /* Padding around the message */
  border-radius: 5px; /* Rounded corners */
  margin-bottom: 10px; /* Add some space below the message */
  text-align: center; /* Center the text */
}
.registration-error {
   /* Green background color */
  color: red; /* White text color */
  /* Padding around the message */
margin-bottom: 10px;
  text-align: center; /* Center the text */
}
.signinlink{
  color:blue;
}
.form-group1{
  margin-top: 20px;
}


.resendotp{
  color:blue;
  cursor: pointer;

}
.register-container{
  margin-right: 45px;
}



@media (max-width: 320px) {
  .register-container{

    background-color: #fff;
    width: 300px;
    
    
    margin-right: 100px;
   margin-top: 10px;
   
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }

}
@media (max-width: 425px) {
  .register-container{

    background-color: #fff;
    width: 240px;
    padding: 15px;
    /* margin-bottom: 120px; */
    /* margin-top: 150%; */
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }

}
@media (min-width: 584px) {
  .register-container{

    background-color: #fff;
    width: 350px;
    padding: 15px;
    margin-bottom: 0;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  

}