/* CardComponent.css */

.card-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  
  .large-card {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    width: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 15px;
    text-align: center;
  }
  
  .small-card {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 50px;
    text-align: center;
  }
  
  .card-image {
    width: 20%;
    height: auto;
    border-radius: 6px;
    margin-bottom: 10px;
  }
  
  p {
    margin: 0;
    font-size: 1.2em;
    color: #333;
  }
  
  .row {
    display: flex;
    gap: 20px;
  }
  