/* CSS for Card Container */
.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  padding: 20px;
}

.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.small-card1{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 300px;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: #7646fc;
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
}.small-card2{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 300px;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: #2db9fa;
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
}
.small-card3{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 300px;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: #f3851e;
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
}
.small-card4{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 300px;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: #d35d5d;
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
}

.admindiv{
  display: flex;
  flex-direction: column;
}
.admindiv h3{
  font-weight: bold;
  font-size: 2rem;
}

.small-card1:hover,.small-card2:hover ,.small-card3:hover,.small-card4:hover{
  transform: translateY(-7px);
}
.adminpagediv{
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

.card-image {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 50%;
  margin-bottom: 15px;
  margin-right: 12px;
}

p {
  margin: 0;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
}

/* Styling for Select and Button */
label {
  display: block;
  font-size: 16px;
  margin-bottom: 8px;
}

#course {
  width: 100%;
  padding: 8px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.showtable {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #3498db;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.showtable:hover {
  background-color: #2980b9;
}

/* Responsive Styles */
@media screen and (max-width: 768px) {
  .small-card {
    width: calc(50% - 20px);
  }
}
@media screen and (max-width: 480px) {
  .small-card {
    width: calc(100% - 20px);
  }
}
