/* CSS for smaller input fields */
.add-product-form input[type="text"] {
  width: 80%; /* Adjust the width as needed */
  margin-right: 5px;
  padding: 8px;
  font-size: 14px; /* Adjust the font size */
}

/* CSS for flex container to display inputs in one line */
.add-product-form .flex {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
 

}

.addProduct{
  margin-top: 60%;
}

.add-product-form{
  margin-top: 70%;
}
/* CSS for labels */
.add-product-form label {
  margin-top: 10px;
  font-size: 14px; /* Adjust label font size */
}

/* CSS for select dropdowns */
.add-product-form select {
  width: 45%; /* Adjust the width as needed */
  margin-right: 5px;
  padding: 8px;
  font-size: 14px; /* Adjust the font size */
}

/* CSS for error messages */
.add-product-form .registration-error {
  font-size: 12px; /* Adjust the font size */
  margin-top: 5px; /* Adjust margin top as needed */
  color: red; /* Error message color */
}

/* CSS for buttons */
.add-product-form button {
  margin-top: 15px;
  padding: 10px 20px;
  font-size: 16px; /* Adjust the font size */
  cursor: pointer;
}

/* CSS for selected images */
.add-product-form .selected-images {
  margin-top: 10px;
}

/* Responsive CSS */
@media screen and (max-width: 320px) {
  .add-product-form input[type="text"],
  .add-product-form select {
    width: 50%;
    margin-bottom: 10px;
  }
   
 
  
  
}

@media screen and (max-width: 480px) {
  .add-product-form {
    max-width: 100%; /* Adjust the form to full width on smaller screens */
    padding: 10px;
  }
}

@media screen and (min-width: 321px) and (max-width: 786px) {
  .add-product-form input[type="text"],
  .add-product-form select {
    width: 48%; /* Adjust the width for two items in a row */
    margin-bottom: 10px;
  }
}

@media screen and (min-width: 787px) and (max-width: 1024px) {
  .add-product-form input[type="text"],
  .add-product-form select {
    width: 30%; /* Adjust the width for three items in a row */
    margin-bottom: 10px;
  }
}

@media screen and (min-width: 1025px) {
  .add-product-form input[type="text"],
  .add-product-form select {
    width: 45%; /* Reset width for larger screens */
  }
}
