/* CSS for styling the form */
.add-product-form {
  margin: 20px;
  padding: 20px;
  background-color: #f9f9f9; /* Attractive background color */
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Adding a subtle shadow */
}

.add-product-form h2 {
  text-align: center;
  margin-bottom: 20px;
  color: #333;
}

.flex {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}

label {
  flex: 1 1 30%; /* Adjust width of labels */
  margin-right: 10px;
  text-align: left;
  padding-top: 5px;
  color: #555;
}

input[type='text'],
select {
  flex: 1 1 65%; /* Adjust width of input/select fields */
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

input[type='file'] {
  margin-top: 5px;
}

.registration-error {
  color: red;
  margin-top: 5px;
}

button {
  padding: 10px 20px;
  margin-top: 10px;
  border: none;
  border-radius: 5px;
  background-color: #3498db;
  color: white;
  cursor: pointer;
}

button:hover {
  background-color: #2980b9;
}

.selected-images {
  margin-top: 10px;
}

/* Media query for responsive design */
@media screen and (max-width: 768px) {
  .flex {
    display: block;
  }
  label,
  input[type='text'],
  select {
    width: 100%;
    margin-bottom: 10px;
  }
}
