/* AdminLoginPage.css */


  
  .login-container {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    justify-content: center;
    align-items: center;
  }
  
  .admin-login-heading {
    margin-bottom: 0;
    margin-top: 15px;
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 2.5em; /* Larger font size for the heading */
    /* margin-top: 50%; Increased margin */
  }
  
  .input-group {
     width: 80%;
  }
  
  label {
    display: block;
    margin-bottom: 10px; /* Increased margin for labels */
  }
  
  input[type='text'],
  input[type='password'] {
    width: 80%;
    padding: 12px; /* Increased input padding */
    border-radius: 6px; /* Slightly rounded corners */
    border: 1px solid #ccc;
  }
  .form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px;
  }
  
  .adminloginbtn {
    margin-left: 0 !important;
    cursor: pointer;
    width: 100px;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  .registration-error {
    /* Green background color */
   color: red; /* White text color */
   padding: 10px 15px; /* Padding around the message */
   border-radius: 5px; /* Rounded corners */
   margin-bottom: 10px; /* Add some space below the message */
   text-align: center; /* Center the text */
 }
  